header {
    background-color: #3b3b3b;
    border-bottom: 1px solid gray;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    user-select: none;

    z-index: 1000;
}

#ham2 {
    display: none;
}

.header__left-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
}


input {
    font-size: 1em;
    padding: 7.5px 15px 7px 15px;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #5b5b5b;
    outline: none;
    margin-left: 90px;
    color: white;
}

.img1 {
    padding: 6px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    width: 21px;
    background-color: #d9d9d9;
}

.hamburger-button {
    border: 0;
    background-color: transparent;
    width: 42px;
    height: 42px;
    cursor: pointer;
    border-radius: 50%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-button:hover {
    background-color: #8f8f8f;
}

.hamburger-button img {
    width: 100%;
}

.logo-name {
    color: white;
    margin: 0;
    padding-left: 5px;
    font-size: 1.6em;
}

@media (max-width: 450px) {
    .img1 {
        display: none;
    }
    header input {
        width: 220px;
        margin-left:  20px;
    }
}