section {
    margin-top: 71px;
    margin-right: 510px;
    margin-bottom: 140px;
    position: relative;
}

#main1 {
    margin-top: 61px;
}

#main2, #main3, #main4 {
    margin-top: 61px;
    display: none;
}

.add {
    width: 100%;
    background-color: firebrick;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-top: 10px;
}

.add input:nth-of-type(1) {
    padding: 2px;
    margin-left: 12px;
    width: 50px;
    display: flex;
    justify-content: center;
    color: white;
}

.add input:nth-of-type(2) {
    padding: 5px 0;
    margin: 0 20px 0 0;
    background-color: firebrick;
    width: 100%;
    outline: none;
    color: white;
}

::placeholder {
    padding-left: 3px;
    color: white;
}

.addTask {
    color: black;
    padding: 5px;
    background-color: firebrick;
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 2em;
}

.nameSec {
    background-color: transparent;
    z-index: 50;
    font-size: 1.8em;
    padding: 20px 10px 10px 10px;
    margin: 0;
    font-weight: bold;
    user-select: none;
    color: white;
}

@media (max-width: 1000px) {
    section {
        margin-right: 10px;
    }
    #addTasks, #addTasks1, #addTasks2, #addTasks3 {
        margin: 0;
    }
}

@media (max-width: 450px) {
    .addTask {
        padding: 3px;
        font-size: 1.5em;
    }
}