aside {
    position: fixed;
    top: 71px;
    right: 0;
    bottom: 0;
    width: 500px;
    border-left: 1px solid gray;

    background-color: #5b5b5b;
}

.time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: "Arial", Helvetica, sans-serif;
    padding: 10px;
    font-size: 1em;
    white-space: nowrap;
    background-color: #c2c2c2;
    border-radius: 10px;
}

@media (max-width: 1000px) {
    aside {
        display: none;
    }
}